<h2>Kweet with the tag {{tagname}}</h2>
<div class="row">
  <div class="col-md-8">
    <div class="pannel-group">
      <div *ngFor="let kwet of kwetsInTag" class="panel panel-default">
        <app-kwet [kwet]="kwet"></app-kwet>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <span class="userinfo" *ngIf="user != null">
      <img src="{{getProfileUri(username)}}" alt="{{username}}'s Profile Picture" class="profilepictureLarge">
      <div class="following">
        <span class="count">{{user.following.length}} following</span>
        <ul>
          <li class="user" *ngFor="let following of user.following">
            <a routerLinkActive="active" routerLink="/user/{{following}}">
                <div class="username">{{following}}</div>
                <div class="pic">
                  <img src="{{getProfileUri(following)}}" alt="{{following}}'s profile picture" class="profilepictureSmall">
                </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="followers">
        <span class="count">{{user.followedBy.length}} followers</span>
        <ul>
          <li class="user" *ngFor="let follower of user.followedBy">
            <a routerLinkActive="active" routerLink="/user/{{follower}}"></a>
            <div class="username">{{follower}}</div>
            <div class="pic">
              <img src="{{getProfileUri(follower)}}" alt="{{follower}}'s profile picture" class="profilepictureSmall">
            </div>
          </li>
        </ul>
      </div>
    </span>
    <span class="trendingTags">
      <!--<ul class="tags">-->
        <!--<li class="tag" *ngFor="let tagstr of trendingTags">-->
          <!--<a routerLink="/tag/{{tagstr}}" routerLinkActive="active">{{tagstr}}</a>-->
        <!--</li>-->
      <!--</ul>-->
    </span>
  </div>
</div>

