.twocol{
  font-size: 0;
  width: 100%;
}

.twocolcol.left ul{
  list-style: none;
  padding-left: 0;
}

.twocol .twocolcol{
  font-size: medium;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.followers ul, .following ul{
  padding-left: 0;
}

.following .user,
.followers .user{
  display: inline-block;
  list-style: none;
}
.profilepictureLarge{
  width: 256px;
}

.profilepictureSmall{
  width: 64px;
}
