<h2>Feed of {{username}}</h2>
<div class="row">
  <div class="col-md-8">
    <div class="post" *ngIf="isMyPage()">
      <textarea cols="30" rows="10" [(ngModel)]="newKwetText" class="form-control"
                (keydown.enter)="comfirmText(newKwetText);false"></textarea>
    </div>
    <ngui-tab
    selected="feed"
    selected-index-class="selected"
    selected-contents-class="">
      <div class="tabs">
        <div index="feed">Feed</div>
        <div index="mentions">Mentions</div>
      </div>
      <div class="tab-contents">
        <div contents="feed">
          <div class="pannel-group">
            <div *ngFor="let kwet of kwetsDefault" class="panel panel-default">
                <app-kwet [kwet]="kwet"></app-kwet>
            </div>
          </div>
        </div>
        <div contents="mentions">Mentions</div>
      </div>
    </ngui-tab>
  </div>
  <div class="col-md-4">
    <span class="userinfo" *ngIf="user != null">
      <img src="{{getProfileUri(username)}}" alt="{{username}}'s Profile Picture" class="profilepictureLarge">
      <!--<div class="following">-->
        <!--<span class="count">{{0}} following</span>-->
        <!--<ul>-->
          <!--<li class="user" *ngFor="let following of user.following">-->
            <!--<a routerLinkActive="active" routerLink="/user/{{following}}">-->
                <!--<div class="username">{{following}}</div>-->
                <!--<div class="pic">-->
                  <!--<img src="{{getProfileUri(following)}}" alt="{{following}}'s profile picture" class="profilepictureSmall">-->
                <!--</div>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="followers">-->
        <!--<span class="count">{{user.followedBy.length}} followers</span>-->
        <!--<ul>-->
          <!--<li class="user" *ngFor="let follower of user.followedBy">-->
            <!--<a routerLinkActive="active" routerLink="/user/{{follower}}"></a>-->
            <!--<div class="username">{{follower}}</div>-->
            <!--<div class="pic">-->
              <!--<img src="{{getProfileUri(follower)}}" alt="{{follower}}'s profile picture" class="profilepictureSmall">-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    </span>
    <span class="trendingTags">
      <ul class="tags">
        <li class="tag" *ngFor="let tag of trendingTags">
          <a routerLink="/tag/{{tag}}" routerLinkActive="active">{{tag}}</a>
        </li>
      </ul>
    </span>
  </div>
</div>
